<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  	<h4>Hi, <%= @post.name %>, </h4>
  	
    <h3>Welcome to nagresignako.com!</h3>
    <p>
      To verify your post, just click <a href="<%= @url + '?permalink=' + @post.permalink %>">here</a>.
    </p>
    <p>Thanks for posting and have a great day!</p>
  </body>
</html>