<div id="admin-sessions-new-page" class="admin-sessions-area">
<div class="center hero-unit">
  <h1>NagResignAko Admin Pages</h1>  
</div>
<div class="form-area">
  <h4>Forgot Password</h4>
  <h5>Please input your email. We will then send you a new password request link.</h5>
  <%= form_for :session, url: change_password_url, class: "form-horizontal" do |f|%>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <div class="clear"></div>
    <%= f.submit "Login", class: "btn btn-primary pull-right"%>
  <% end %>
</div>
</div>