<div id="contact-us-page" class="info-pages">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>MAY GUSTO KA PANG SABIHIN NO?</h1>
<%= form_for @contact_form, :url => url_for(:action => 'create') do |f| %>
<div id="contact-form-container">
	<div class="form-field">
		<div style="width: 100px; text-align: right; display: inline-block;">Your Name</div>
		<input type="text" name="contact_form[name]" />
	</div>
	<div class="form-field">
		<div style="width: 100px; text-align: right; display: inline-block;">Your E-mail</div>
		<input type="text" name="contact_form[email]" />
	</div>
	<div class="form-field">
		<div style="width: 100px; text-align: right; display: inline-block;">Ano gusto mo sabihin?</div>
		<textarea rows="5" name="contact_form[message]" ></textarea>
	</div>
	<div class="form-field">
		<button id="submit-feedback" class="btn btn-submit">
      		Submit
    	</button>
	</div>
</div>
<% end %>
</div>