<div id="about-us-page" class="info-pages">
<h1>NAG-RESIGN KA NA. CONGRATULATIONS! (SO, BAKIT NGA BA?)</h1>
<br />
<p>
	Your former manager is a jerk, a slave-driver - or just plain stupid. Yung mga manyakis mong ex-officemate deserve a special place in the nine circles of hell. Ang HR nyo di marunong magcompute ng tax deductions. Walang career advancement. Bawal magleave. Puro overtime. Sampung taon ka ng minimum wager, at iniignore ang emails mo for a raise.
</p>
<br />
<p>
	(Or baka me ginawa ka talagang kalokohan sa dati mong trabaho?)
</p>
<br />
<p>
	Different reasons. Pero isa lang ang sure na sure: your old job sucks.
</p>
<br />
<p>
	Hindi ka drama queen. Or maybe you are, but who cares? Eh gusto mong malaman ng buong mundo kung bakit ka nagresign. Ayaw maniwala ng nanay mo? Tamad ka lang raw, sabi ng asawa mo? Whatever. Don't mind them. Let us know why you quit, and let everyone decide kung panalo ang desisyon mo nag-resign ka (or quitter ka lang talaga. LOL)
</p>
<br />
<p>
	Post your story. Nag-resign ka na naman eh, kaya go, magkwento ka na! (Tsismoso kami, okay?)
</p>
<br />
<p>
	<%= image_tag "boy.png", class: "pull-right" %>
</p>
<div class="clear"></div>
</div>
