<div id="about-us-page" class="info-pages">
<h1>TERMS OF SERVICE (MAHABA ITO, PROMISE)</h1>
<h5>User Agreement for NagResignAko.com</h5>
<br />
<p>
	This is an important document which you must consider carefully when choosing whether to use the NagResignAko.com (Site) website at any time.
</p>
<br />
<p>
	This User Agreement and all policies and terms incorporated by reference constitute the agreement between you and NagResignAko.com as to its subject matter. We reserve the right to amend this in the future. It is the responsibility of the user to check this page for future changes. 
</p>

<p>
If you do not agree to any of these terms and conditions you should immediately cease to use the Site. Please note that we may close, suspend, or limit your access to NagResignAko.com if you carry out activities which are in contravention of this User Agreement and its associated policies incorporated by reference. 
</p>
<p>
NagResignAko.com offers its Services to its Users. We shall have absolute discretion as to whether or not we accept a particular applicant or site for participation in the service. The Site is available only to individuals or corporate entities that can form legally binding contracts under applicable law. Without limiting the foregoing, this Site is not available to persons under 18 years of age. If Users do not qualify, they cannot use any of NagResignAko.com's Services including, but not limited to, those that require the User's ability to form legally binding contracts. Each User is responsible for what occurs on their Account and must report any unauthorised use of their Account to us. 
</p>
<p>
The User understands and agrees to the following terms: 
</p>
<p>
Our Site merely acts as an online venue to allow Users to post content in the site. You acknowledge and agree that you will not hold NagResignAko.com accountable for content posted on the site.  
</p>
<p>
Some of the content provided at the Site may relate to various subjects such as information pertaining to legal matters, financial matters, health matters, and other matters for which the content of is provided in an advisory nature. This information is provided solely for informational and general non-advisory purposes. If desired, Users should use their own efforts to confirm such information with a professional(s) in the pertinent field(s). All of the information that NagResignAko.com provides should not be considered professional, medical, legal, technical, or any other discipline-specific advice. 
</p>
<p>
The Site is a dynamic time-sensitive web site. As such, the information on the Site will be changed frequently. It is possible that some information could be considered offensive, harmful, or inaccurate, and in some cases may be mislabeled or deceptively labeled accidentally by NagResignAko.com or accidentally or purposefully by a third-party, regardless of whether such third parties are with or without a legitimate business purpose. 
</p>
<p>
NagResignAko.com provides unmonitored access to third-party content. NagResignAko.com is only acting as a venue and/or portal, and has no liability based on, or related to, the third-party content on this Site, whether arising under the laws of copyright or other intellectual property, defamation, libel, privacy, obscenity, or any other legal discipline. This web site may contain links to third-party web sites. NagResignAko.com does not control nor always review the web sites to which we link from the Site. NagResignAko.com, therefore, cannot endorse the content, products, services, practices, policies, or performance of the web sites we link to from the Site, and Users should not treat any link as such an endorsement or acceptance of veracity or value. 
</p>
<p>
NagResignAko.com does not have the resources to nor does it undertake any obligation to, control, research, verify, validate, or approve the content that is received or viewed on its web site. NagResignAko.com expects that the User will undertake necessary activities and practices and will use caution and common sense when using NagResignAko.com for User's Account. 
</p>
<p>
<strong>PROMOTION</strong><br/>
You agree and acknowledge that unless explicitly requested, NagResignAko.com may display your company name, logo and public description of your projects and profile as part of the NagResignAko.com website(s) and / or other NagResignAko.com marketing materials.
</p>
<p>
<strong>CONTENT</strong><br/>
The User is solely responsible for content or any other information the User provides to NagResignAko.com. User understands and agrees to the following: 
</p>
<p>
NagResignAko.com is only acting as a venue for the online distribution and publication of User content. However, no warranties as to the actual distribution or publication of User content are made or implied. NagResignAko.com has the right (but no obligation) to take any action deemed appropriate with respect to User content if it is believed that such content may create liability for NagResignAko.com, harm its business operation or reputation, or cause NagResignAko.com to lose the services of its suppliers. Any and all content submitted to the Site is subject to the approval of the Site administrators. The Site reserves the right to reject, approve, or modify User-submitted content upon the discretion of the Site administrators. Evaluation of User-submitted content is based on certain quality guidelines.
</p>
<p>
These guidelines, that encompass all objectively quantifiable and aesthetic aspects of User-submitted content, are set solely by the Site and applied exclusively within the Site. 
</p>
<p>
User represents and warrants that User's content: (a) will not infringe upon or misappropriate any copyright, patent, trademark, trade secret, or other intellectual property right or proprietary right or right of publicity or privacy; (b) will not violate any law or regulation; (c) will not be defamatory or trade libelous; (d) will not be obscene or contain child pornography; (e) will not include incomplete, false or inaccurate information about User or any other individual; and (f) will not contain any viruses or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information. 
</p>
<p>
No copyrighted material can be posted on the Site. This includes scripts which are sold by the author. Only posting sections, or excerpts of these scripts, as examples, will be permitted. A "section" or "excerpt" being no more than 10% of the script's contents. This is meant to protect the author's intellectual property rights.
</p>
<p>
By submitting User content to NagResignAko.com you hereby grant to NagResignAko.com a worldwide, exclusive, sublicensable, perpetual, irrevocable, royalty-free license to use, copy, modify, display, and perform User content, under all User intellectual property and proprietary rights worldwide. For the avoidance of doubt, providing links to content hosted on servers other than that of NagResignAko.com will not be considered "submitting" such content for purposes of this license grant. 
</p>
<p>
The content and information on the Site (including, but not limited to, messages, data, information, text, music, sound, photos, graphics, video, feedback, reputation, reviews, icons, software, code or other material), as well as the infrastructure used to provide such content and information, is proprietary to us. All Users agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services obtained from or through this Site. Additionally, you agree not to:
<br/>- use this Site or its contents for any commercial purpose;
<br/>- access, monitor or copy any content or information of this Site using any robot, spider, scraper or other automated means or any manual process for any purpose without our express written permission;
<br/>- violate the restrictions in any robot exclusion headers on this Site or bypass or circumvent other measures employed to prevent or limit access to this Site;
<br/>- take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load on our infrastructure;
<br/>- deep-link to any portion of this Site for any purpose without our express written permission;
<br/>"- frame", "mirror" or otherwise incorporate any part of this Site into any other website without our prior written authorisation; or
attempt to modify, translate, adapt, edit, decompile, disassemble, or reverse engineer any software programs used by us in connection with the Site or the services.
</p>
<div class="clear"></div>
</div>
