
<% if !@is_ajax %>
  <div id="new-entries-container">
    <h1>New Items</h1>
<% else %>
    <div class="entry-line-adverts progress progress-striped">
      <div class="bar" style="width: 100%; color: white;">Advertisement</div>
    </div>
<% end %>

<div id="hot-entries-area">
<% (11..20).each do |i| %>
  <%= render 'layouts/entry', count: i %>
<% end %>
</div>

<% if !@is_ajax %>
  </div>
<% end %>