<% content_for :page_title, @post.title %>
<% content_for :page_description, truncate(@post.entry, :length => 100) %>
<% content_for :page_url, single_url(hash: (@post.permalink)) %>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div id="single-post-item">
  <%= render 'layouts/entry', post: @post %>
  
  <div class="fb-comments" data-href="<%= single_url(hash: (@post.permalink)) %>" data-width="650" data-num-posts="10"></div>
<% 
#commenting out
if false  %> 
  <!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
(function () {
    var articleId = fyre.conv.load.makeArticleId(null);
    fyre.conv.load({}, [{
        el: 'livefyre-comments',
        network: "livefyre.com",
        siteId: "324888",
        articleId: articleId,
        signed: false,
        collectionMeta: {
            articleId: articleId,
            url: fyre.conv.load.makeCollectionUrl(),
        }
    }], function(widget) {
	    widget.on('commentPosted', function (data) {
	        // Do something, perhaps using data
	        	LF.CommentCount({ replacer: function(element, count) { 
	    			element.innerHTML = count +' Comment'+ (count === 1 ? '' : 's');
					}
				});
		    });
		}
    );
}());
</script>
<!-- END: Livefyre Embed -->
<% end %>            
</div>