<h1>Submit Entry</h1>
<p>Share the reason why you resigned from your previous job!</p>
<form>
<div id="form-proper">
  <textarea rows="5"></textarea>
  <div id="submission-area">
    <div id="character-count-area" class="pull-left">
      <span id="actual-counter">200</span>
      <span>Character/s left.</span>
    </div>
    <button id="submit-entry" class="btn btn-small btn-primary pull-right">
      Submit
    </button>
    <div class="clear"></div>
  </div>
  <div id="etiquette-area">
    <h3>Etiquette</h3>
    <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt eros nec ante eleifend id </li>
    <li>Malesuada nulla tempus. Sed eget magna sed enim rhoncus aliquet. </li>
    <li>Ut eleifend tristique mauris dignissim malesuada. Mauris eleifend, metus ac malesuada commodo.</li>
    <li>Enim magna ultrices massa, id auctor neque lorem ut diam. </li>
    <li>Integer eget tortor et nunc hendrerit aliquet id non nunc. </li>
    <li>Duis suscipit, augue vitae eleifend tristique, lacus tellus mattis enim, vel rhoncus nibh neque vel arcu. </li>
    <li>Phasellus ac nisl turpis, sit amet accumsan sapien. </li>
    <li>Vivamus enim ante, tempus eu consequat a, luctus suscipit ante. </li>                
    </ul>
  </div>
</div>
</form>