@import "bootstrap";

$nsa_blue: #00bde6;
$nsa_light_blue: #5cd4ef;
@mixin radius($topleft, $topright: $topleft, $bottomright: $topleft, $bottomleft: $topleft) {
  -moz-border-radius: $topleft $topright $bottomright $bottomleft;
  -webkit-border-radius:          $topleft $topright $bottomright $bottomleft;
  border-radius:                  $topleft $topright $bottomright $bottomleft;
}

@mixin bordered($color, $style, $top, $right: $top, $bottom: $top, $left: $right) {
  border: $color $style;
  border-width: $top $right $bottom $left;
}

@mixin whiteBackground() {
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(top, white, #F2F2F2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F2F2F2));
    background-image: -webkit-linear-gradient(top, white, #F2F2F2);
    background-image: -o-linear-gradient(top, white, #F2F2F2);
    background-image: linear-gradient(to bottom, white, #F2F2F2);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

@mixin noBackground() {
    background-color: none;
    background-image: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    background-color: transparent;
    border: none;
}

@mixin chosenWhiteBG() {
    background-color: #E5E5E5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

body, header { text-align: center; }
body {
  background-image: url(/assets/base/bg.jpg);
  padding-bottom: 100px;
}
.clear { clear: both; }

.gravatar-icon {
  width: 25px;
}

/*CONTAINERS*/
footer, header > div.navbar-inner, #page-container {
  text-align: left;
  display: inline-block;  
  width: 1027px;
}

#page-container { margin-top: -4px; }

footer {
  width: 100%;
  nav {
    width: 294px;
  }
  
  &.scroll-to-top-area {
    
    .navbar-inner { @include noBackground(); }
    .scroll-to-top {width: 100px;}
  }
}
.navbar-banner > .navbar-inner {
  background: none;
  background-color: transparent;
  box-shadow: none;
}

/* ENTRY AREA */
.entry-item {
  padding: 20px;
  border-width: 0 0 1px;
  background-color: white;
  margin-bottom: 20px;
  
  .entry-header-area {
    border: 1px solid #bed9d4;
    border-width: 0 0 2px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .user-source-data {
    margin: 10px 0;
  }
  
  &:last-child { border-width: 0; }
  .entry-votes { text-align: center; position: relative;
    .voter-element {
      margin-right: 10px;
      background: none;
      border: none;
      padding: 0;
      
      &.btn {
        &:active {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        
        background: none;
      }
      span {
        display: inline-block;
        vertical-align: top;
        margin-top: 9px;
        
        strong {
          font-weight: normal !important;
        }
      } 
    }
    
    .livefyre-commentcount { padding: 2px;
      margin-right: 3px;
      vertical-align: top;
      margin-top: 2px;
    }
    
    ul.like-buttons{
      float: left;
      list-style: none;
      margin: 5px 0 0 0;
      padding: 0;
      
      li{
        display: block;
        float: left;
        margin-right: 2px;
        
        &.twitter-like { iframe { width: 90px !important;} }
        &.g-plus-one { 
          & > div {width: 80px !important; } 
          margin-right: 0;
        }
      }
    }
  }
  
  .timestamp-area, .report-spam-area { visibility: hidden; font-size: 12px; 
      margin-top: 5px;
   }
   .report-spam-area { position: absolute;
      right: -12px;
      bottom: -14px;
    }
  .timestamp-area { color: gray; }
  &:hover .report-spam-area,
  &:hover .timestamp-area { visibility: visible; }
  
  
}
/* HEADER */
header.navbar-banner {
  margin-bottom: 0px;
  
  #logo {
    display: inline-block;
    img {
      width: 969px;
      margin-left: 18px;
      margin-top: 50px;
    }
    
  }
  
  .navbar-inner .container {
     position: relative;
  }
  
  nav#main-nav-area {
    display: inline-block;
    width: 678px;
    height: 52px;
    
    ul { width: 100%; 
      
      li {
        a { padding: 0px !important; } ;
        &.active { background: none; 
          a {background-color: transparent !important;}
        }
        
        &.new-nav-item { margin-right: 10px; }
        &.submit-nav-item { float: right; }
      
      
      }
    }
  }
  
  nav#hot-top-items {
    position: absolute;
    bottom: -123px;
    left: -137px;

    ul {
      list-style-type: none;
      li { margin-bottom: 10px;}
    }
  }
  
}

header.navbar-scrolled { /* This is the fixed nav bar */
  margin-top: -40px;
  background-color: $nsa_blue;
  height: 40px;
  opacity: 0;
  
  .brand { margin-left: 0px}
  .navbar-inner {
    @include noBackground();
  }
  
  .nav {
    width: 680px;
    
    li {
      border: white solid 1px;
      border-width: 0 1px;
      
    &:first-child { border-width: 0 0 0 1px; }
    &:last-child { float: right; }
    &:hover { background-color: $nsa_light_blue; }
    
    &.active > a {
      background-color: $nsa_light_blue;
      /* color: #555; */
      /* text-decoration: none; */
      /* @include chosenWhiteBG(); */
    }
    
    a {
      float: none;
      padding: 10px 15px 11px;
      
      text-shadow: none;
      color: white;
      text-transform: uppercase;
      
      &:hover {
        text-decoration: none;
        background-color: transparent;
      }
    }
    
    &.active > a {
      &:hover {
        background-color: transparent;
        /*
        color: #555;
        text-decoration: none;
        background-color: #E5E5E5;
        -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);*/ 
      }
    }
   }
  }
}

/* FOOTER AREA */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  @include bordered(#eaeaea, solid, 1px, 0, 0);
  color: #999;

  a { 
    color: #555; 
    
    &:hover {
      color: #222;
    }
  }
  
  small { float: left; }
  
  ul {
    float: right;
    list-style: none;
    li { float: left; margin-left: 10px; }
  }
  
  /* For the scroll to top*/
  &.scroll-to-top-area {
    margin-top: 0;
    margin-bottom: -112px;
    border: none;
    
    opacity: 0;
    
    .navbar-inner {
      .brand { 
        margin-left: 0px; 
        &:hover {
         color: #333333; 
        }
      }
      margin-right: 10px;
      text-align: center;
    }
  }
}

/* SUBMIT FORM AREA */
#form-proper {
  textarea { width: 90%; }
  #actual-counter {
    @include bordered(lightgray, solid, 1px);
    @include radius(2px);
    width: 30px; padding: 4px; display: inline-block;
    color: #666666;
    text-align: center;
  }
  
  #submission-area {
    text-align: center;
    
    button.btn-submit {
      background: #01BDE6;
      color: #FFFFFF;
      &:hover {
        background: #02a0c2;
      }
    }
  }
  
  #submit-entry { 
    // margin-right: 56px;
  }
  
  #etiquette-area { margin-top: 30px;}
}

/* Registration FORM */
#register-form {
 text-align: center;

 & > .form-horizontal {
  display: inline-block;
  text-align: left;
  width: 100%;
  
  & > fieldset {
    width: 290px;
    
    input[type="text"], input[type="password"] {
      width: 100%;
    }
  }
 }
}

/* ADVERTISEMENTS */
#sidebar-advert, .entry-line-adverts {
  margin-bottom: 20px;
}

#twitter-sidebar-area {
  width: 294px;
  margin-top:20px;
}

/**/

.controls-row [class*=span] {
  display: inline-block;
}

/* SUBMIT PAGE */
#verification-dialog {
  .verify-dialog-item {
    width: 45%;
    padding: 30px 10px 10px 10px;
    
    p {
      font-size: 12px;
    }
    
    button {
      margin-top: 10px;
    }
    
    &:first-child {
      @include bordered(lightgray, dotted, 0, 1px, 0, 0);
      padding-bottom: 80px;
    }
  }
}

.error-validation {
  @include bordered(red, dotted, 0, 0, 0, 1px);
}


/* For container fluid*/
.container-fluid {
  padding: 0;
}

/* ABOUT US
 */
div.info-pages {
  background-color: #fbf4df;
  padding: 10px;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-dialog {
  background: #fbf4df;
  border: 2px solid #ff9c00;
}

.error-box {
  background-color: #F0F0F0; 
  border: 2px solid #FF9C00;
  height: 137px;
  
  h4 {
    background-color: #FF9C00; 
    color: #FFFFFF; padding: 5px;
  }
  
  ul {
    list-style: none;
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 0;
    float: left;
    width: 500px;
  }
  
  li:before {
    content: "• ";
    color: #FF9C00; /* or whatever color you prefer */
  }
}


.error-message {
  color: red;
}


/* FOR ADMIN */

#admin-base { 
  .nav-tabs > li > a { border: none; }

  #admin-add-seed-page {
    input[type=text], input[type=number], textarea {
      width: 400px;
    }
  }
}


