// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: 
#notice {
  font-size: 20px;
  font-weight: bold;
  background-color: lightblue;
  padding: 10px 5px;
}

#page-container {
  .container-fluid {
    .row-fluid{
      .span8 {
        .submit-container{
          padding: 20px 15px 20px;
          background: #fbf4df;
        }
      }
      
      #form-proper {
        .controls-row {
          margin-bottom: 10px;
          
          input[type=text] {
            margin-bottom: 0;
            width: 74.46809%;
          }
        }
        
        textarea {
          width: 73%;
        }
      }
    }
  }
}