<footer class="footer">
  <small>
<%#    <a href="#">This is something not yet made</a> &copy; %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",    about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Terms and Service", "#" %></li>
    </ul>
  </nav>
</footer>

<footer class="navbar scroll-to-top-area navbar-fixed-bottom">
  <div class="navbar-inner pull-right">
    <a href="javascript: void(0);" class="brand" 
      onclick="$('html, body').animate({scrollTop : 0},'slow');">Scroll to<br/>Top</a>
  </div>
</footer>