    <header class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "This is Something Not Yet Made", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "Hot",    '#' %></li>
              <li><%= link_to "New",    '#' %></li>
              <li><%= link_to "Submit", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>