<%# For facebook logs%>
<div id="sidebar-advert">
  <%#= link_to (image_tag load_advert "sidebar-right", "http://placehold.it/300x300"), "http://www.freelancer.com" %>
  <%= image_tag load_advert "sidebar-right", "http://placehold.it/300x300" %>
</div>

<div id='facebook-sidebar-area'>
  <fb:like-box href="https://www.facebook.com/pages/Nagresignako/336926053091417" width="292" show_faces="true" stream="false" header="true"></fb:like-box>
</div>

<%# For twitter logs%>
<div id="twitter-sidebar-area">
<a class="twitter-timeline" href="https://twitter.com/search?q=%23nagresignako" data-widget-id="297985860975075328">Tweets about "#nagresignako"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<%= render 'layouts/footer'%>